{% extends "index.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<h1> Profile </h1>

<div class="block02">
<div id=loginform>
  <p>Username: <br><i>{{ request.user.username }}</i> </p>

  <p>First name: <br><i>{{ request.user.first_name }}</i> </p>

  <p>Last name: <br><i>{{ request.user.last_name }}</i> </p>

  <p>Email: <br><i>{{ request.user.email }}</i> </p>
  <p>Developer status: <br><i>{{ request.user.userprofile.is_a_developer }}</i> </p>

  <p>
    <form action="/update_profile/">{% csrf_token %}

      <input type="submit" value="Edit profile">

    </form>
  </p>
</div>
</div>
{% else %}

<h1>Login required</h1>
<p>Please <a href="/login/">login</a> to see your profile. </p>

{% endif %}
{% endblock %}
