{% extends "index.html" %}

{% block content %}
  <h1>Register new user</h1>
  <div id=loginform>
  <form action="/register/" method="post" >
  	{% csrf_token %}
    <label>First name</label><br>
        {{ form.first_name }}
        <label>Last name</label><br>
          {{ form.last_name }}

          {{ form.email.errors }}
       <label>E-mail</label><br>
       {{ form.email }}

       {{form.errors.values.0}}
       <label>Username</label><br>
       {{ form.username }}

       {{form.errors.values.1}}
       <label>Password</label><br>
       {{ form.password1 }}

       <label>Password again</label><br>
        {{ form.password2 }}

        <label>Click tickbox if you want to submit your games as a developer:</label>
          {{ form.is_a_developer }}
    <p><input type="submit" name="submit" value="Register" /></p>
  </form>

</div>
{% endblock %}
